@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));
@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-fira-sans: var(--font-fira-sans);
--color-sidebar-ring: var(--sidebar-ring);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar: var(--sidebar);
--color-chart-5: var(--chart-5);
--color-chart-4: var(--chart-4);
--color-chart-3: var(--chart-3);
--color-chart-2: var(--chart-2);
--color-chart-1: var(--chart-1);
--color-ring: var(--ring);
--color-input: var(--input);
--color-border: var(--border);
--color-destructive: var(--destructive);
--color-accent-foreground: var(--accent-foreground);
--color-accent: var(--accent);
--color-muted-foreground: var(--muted-foreground);
--color-muted: var(--muted);
--color-secondary-foreground: var(--secondary-foreground);
--color-secondary: var(--secondary);
--color-primary-foreground: var(--primary-foreground);
--color-primary: var(--primary);
--color-popover-foreground: var(--popover-foreground);
--color-popover: var(--popover);
--color-card-foreground: var(--card-foreground);
--color-card: var(--card);
--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);
}
:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.702 0.183 293.541);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.702 0.183 293.541);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.38 0.189 293.745);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.38 0.189 293.745);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-[48px] font-bold font-fira-sans;
  }
  h2 {
    @apply text-[40px] font-bold font-fira-sans;
  }
  h3 {
    @apply text-[24px] font-bold font-fira-sans;
  }
  h4 {
    @apply text-[20px] font-bold font-fira-sans;
  }
  h5 {
    @apply text-sm font-bold font-fira-sans;
  }
  h6 {
    @apply text-xs font-bold font-fira-sans;
  }
  p {
    @apply text-lg font-poppins;
  }
  
}
@keyframes scroll-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}
@keyframes scroll-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}
.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}
.marquee:hover .track {
  animation-play-state: paused;
}

/* SVG 1 */
svg#freepik_stories-sentiment-analysis:not(.animated) .animable {
    opacity: 0;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--background-simple--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--Floor--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--Window--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--Picture--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedLeft;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--Table--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--Icons--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--device-3--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--device-2--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--device-1--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--charts-3--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--charts-2--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--charts-1--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    animation-delay: 0s;
}
svg#freepik_stories-sentiment-analysis.animated #freepik--Character--inject-136 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;
    animation-delay: 0s;
}
 @keyframes zoomIn {
     0% {
         opacity: 0;
         transform: scale(0.5);
    }
     100% {
         opacity: 1;
         transform: scale(1);
    }
}
 @keyframes slideLeft {
     0% {
         opacity: 0;
         transform: translateX(-30px);
    }
     100% {
         opacity: 1;
         transform: translateX(0);
    }
}
 @keyframes lightSpeedRight {
     from {
         transform: translate3d(50%, 0, 0) skewX(-20deg);
         opacity: 0;
    }
     60% {
         transform: skewX(10deg);
         opacity: 1;
    }
     80% {
         transform: skewX(-2deg);
    }
     to {
         opacity: 1;
         transform: translate3d(0, 0, 0);
    }
}
 @keyframes lightSpeedLeft {
     from {
         transform: translate3d(-50%, 0, 0) skewX(20deg);
         opacity: 0;
    }
     60% {
         transform: skewX(-10deg);
         opacity: 1;
    }
     80% {
         transform: skewX(2deg);
    }
     to {
         opacity: 1;
         transform: translate3d(0, 0, 0);
    }
}
 @keyframes slideUp {
     0% {
         opacity: 0;
         transform: translateY(30px);
    }
     100% {
         opacity: 1;
         transform: inherit;
    }
}
 @keyframes fadeIn {
     0% {
         opacity: 0;
    }
     100% {
         opacity: 1;
    }
}
 @keyframes slideDown {
     0% {
         opacity: 0;
         transform: translateY(-30px);
    }
     100% {
         opacity: 1;
         transform: translateY(0);
    }
}
 @keyframes zoomOut {
     0% {
         opacity: 0;
         transform: scale(1.5);
    }
     100% {
         opacity: 1;
         transform: scale(1);
    }
}
 .animator-hidden {
     display: none;
}
